<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <ul class="social-list">
        <li><a href="https://www.instagram.com/houseofhongseattle/" target="_blank" rel="noopener noreferrer"><i class="catif catif-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/HouseofhongSeattle/" target="_blank" rel="noopener noreferrer"><i class="catif catif-facebook"></i></a></li>
        <li><a href="https://twitter.com/houseofhongsea" target="_blank" rel="noopener noreferrer"><i class="catif catif-twitter"></i></a></li>
        <li><a href="mailto:hello@houseofhongseattle.com?Subject=Hello%20from%20website" target="_top"><i class="catif catif-mail"></i></a></li>
      </ul>
      <p class="address">House of Hong Restaurant <br> 409 8th Ave S <br> Seattle, WA 98040 <br> (206) 622-7997</p>
      <ul class="nav-menu" role="menu">
        <li role="menu-item"><a href="{{ site.url }}#about">Book a table</a></li>
        <li role="menu-item"><a href="{{ site.url }}#menu">Explore our menu</a></li>
        <li role="menu-item"><a href="{{ site.url }}#event">Event catering</a></li>
        <li role="menu-item"><a href="{{ site.url }}#news">What's new</a></li>
      </ul>
      <p>Gourmet Chinese cuisine and Cantonese dim sum, crafted with <span class="catif catif-heart" title="love"></span> in Seattle.</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p><a href="http://chryw.catenology.com" target="_blank" rel="noopener noreferrer" title="Catenology"><i class="catif catif-logo-simple"></i><span class="label">Catenology</span></a> powered website</p>
      <p class="copyright text-muted">© House of Hong Restaurant | All rights reserved</p>
    </div>

  </div>
</footer>
