//variables
$color-brand: #6b0c22;
$color-accent: #fdbe52;
$color-grey: #d8d8d8;
$color-grey-dark: #222222;
$color-grey-light: #f0f0f0;
$color-danger: #F2384A;
$color-warning: #FFE066;
$color-info: #2C99CE;
$color-success: #50B273;
$spacing-unit: 16px;
$spacing-unit-sm: 8px;
$spacing-unit-xs: 4px;
$spacing-unit-md: 24px;
$spacing-unit-lg: 32px;
$spacing-unit-xl: 64px;
$breakpoint-xs: 321px;
$breakpoint-sm: 551px;
$breakpoint-md: 751px;
$breakpoint-lg: 1081px;
$breakpoint-xl: 1921px;
$hero-height-xs: 500px;
$hero-height-md: 800px;
