---
layout: page
title: "House of Hong Full Dinner Menu"
permalink: /fullmenu
---

{% assign fullmenu = site.menus | where:"name","fullmenu" | first %}
{% assign appetizers = fullmenu.items | where:"type","appetizer" | sort: "id" %}
<h2>Appetizers</h2>
<ul>
  {% for appetizer in appetizers %}
  <li><span class="menu-item-id">{{ appetizer.id }}</span><span class="menu-item-name-ch">{{ appetizer.name_ch }}</span><span class="menu-item-name-en"> {{ appetizer.name_en }}</span> <span class="menu-item-price">{{ appetizer.price }}</span></li>
  {% endfor %}
</ul>
{% assign carbappetizers = fullmenu.items | where:"type","carbappetizer" | sort: "id" %}
<h2>Buns and Noodles Appetizers</h2>
<ul>
  {% for carbappetizer in carbappetizers  %}
  <li><span class="menu-item-id">{{ carbappetizer.id }}</span><span class="menu-item-name-ch">{{ carbappetizer.name_ch }}</span><span class="menu-item-name-en"> {{ carbappetizer.name_en }}</span> <span class="menu-item-price">{{ carbappetizer.price }}</span></li>
  {% endfor %}
</ul>
{% assign soups = fullmenu.items | where:"type","soup" | sort: "id" %}
<h2>Soup</h2>
<ul>
  {% for soup in soups  %}
  <li><span class="menu-item-id">{{ soup.id }}</span><span class="menu-item-name-ch">{{ soup.name_ch }}</span><span class="menu-item-name-en"> {{ soup.name_en }}</span> <span class="menu-item-price">{{ soup.price }}</span></li>
  {% endfor %}
</ul>
{% assign szechuans = fullmenu.items | where:"type","szechuan" | sort: "id" %}
<h2>Szechuan Wok</h2>
<ul>
  {% for szechuan in szechuans  %}
  <li><span class="menu-item-id">{{ szechuan.id }}</span><span class="menu-item-name-ch">{{ szechuan.name_ch }}</span><span class="menu-item-name-en"> {{ szechuan.name_en }}</span> <span class="menu-item-price">
    {% if szechuan.price > 0 %}
    {{ szechuan.price }}
    {% else %}
    *Seasonal prices (時價)
    {% endif %}
  </span></li>
  {% endfor %}
</ul>
{% assign vegetables = fullmenu.items | where:"type","vegetable" | sort: "id" %}
<h2>Vegetable</h2>
<ul>
  {% for vegetable in vegetables  %}
  <li><span class="menu-item-id">{{ vegetable.id }}</span><span class="menu-item-name-ch">{{ vegetable.name_ch }}</span><span class="menu-item-name-en"> {{ vegetable.name_en }}</span> <span class="menu-item-price">{{ vegetable.price }}</span></li>
  {% endfor %}
</ul>
{% assign eggfooyoungs = fullmenu.items | where:"type","eggfooyoung" | sort: "id" %}
<h2>Egg Foo Young</h2>
<ul>
  {% for eggfooyoung in eggfooyoungs  %}
  <li><span class="menu-item-id">{{ eggfooyoung.id }}</span><span class="menu-item-name-ch">{{ eggfooyoung.name_ch }}</span><span class="menu-item-name-en"> {{ eggfooyoung.name_en }}</span> <span class="menu-item-price">{{ eggfooyoung.price }}</span></li>
  {% endfor %}
</ul>
{% assign seafoods = fullmenu.items | where:"type","seafood" | sort: "id" %}
<h2>Seafood</h2>
<ul>
  {% for seafood in seafoods  %}
  <li><span class="menu-item-id">{{ seafood.id }}</span><span class="menu-item-name-ch">{{ seafood.name_ch }}</span><span class="menu-item-name-en"> {{ seafood.name_en }}</span> <span class="menu-item-price">{{ seafood.price }}</span></li>
  {% endfor %}
</ul>
{% assign meats = fullmenu.items | where:"type","meat" | sort: "id" %}
<h2>Pork, Chicken, Beef</h2>
<ul>
  {% for meat in meats  %}
  <li><span class="menu-item-id">{{ meat.id }}</span><span class="menu-item-name-ch">{{ meat.name_ch }}</span><span class="menu-item-name-en"> {{ meat.name_en }}</span> <span class="menu-item-price">{{ meat.price }}</span></li>
  {% endfor %}
</ul>
{% assign carbs = fullmenu.items | where:"type","carb" | sort: "id" %}
<h2>Rice and Noodle Entrées</h2>
<ul>
  {% for carb in carbs  %}
  <li><span class="menu-item-id">{{ carb.id }}</span><span class="menu-item-name-ch">{{ carb.name_ch }}</span><span class="menu-item-name-en"> {{ carb.name_en }}</span> <span class="menu-item-price">{{ carb.price }}</span></li>
  {% endfor %}
</ul>
