---
layout: page
title: "House of Hong Individual Dinner Set Menu"
permalink: /individualmenu
---
<div class="menupage">
  {% assign dinnerone = site.menus | where:"name","dinnerone" | first %}
  {% for menu in dinnerone.menus %}
  <h2><span class="menu-category-ch">{{ menu.title_ch }}</span> <span class="menu-category-en">{{ menu.title_en }}</span></h2>
  <h3>{{ menu.price }}</h3>
  {% if menu.notes %}
  <p>*
    {{ menu.notes }}
  </p>
  {% endif %}
  <ul class="list-unstyled">
    {% assign items = menu.items %}
    {% for item in items %}
    <li><span class="menu-item-id">{{ item.id }}</span><span class="menu-item-name-ch">{{ item.name_ch }}</span><span class="menu-item-name-en">{{ item.name_en }}</span></li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
